html,
body,
.cover {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}
.cover {
	background: url(images/foodbg-compressor.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: table;
	width: 100%;
	box-shadow: inset 0 0 100px 10px #000, inset 0 0 0 1000px rgba(255,255,255,0.4);
}
.topnav {
    text-align: right;
    margin-right: 50px;
}
 .topnav input.search_bar{
    border: none; outline: none;
    width: 5px;
    margin: 0 auto;
     margin-right: 20px;
    text-align: left;
    font-size: 14px; color: #0d2840;
    padding: 10px;
    border-radius: 50px;
    transition: all .3s ease-out;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.1);
    background: rgb(255, 255, 255) url(images/magnifier-tool.png) no-repeat center;
    background-size: 20px;
    background-color: transparent;
  }
.topnav input.search_bar:focus{
    width: 30%; 
    border-radius: 50px; 
    background-color: rgb(255,255,255); 
    background-position: calc(100% - 15px) center;
}
.cover button {
	background-color: transparent;
	background-repeat: no-repeat;
	overflow: hidden;
	outline: none;
	border: none;
	margin-top: 30px;
	cursor: pointer; 
	text-align: right;
	position: relative;
/*	left: 87%;*/
}
.cover button a {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: black;
	padding: 2px 15px;
	border: 2px solid black;
	border-radius: 3px;
	text-transform: uppercase;
	text-decoration: none;
}
/*=======MODAL=======*/
.modal-header {
    border: none;
    outline: none;
    margin: auto;
    margin-top: 60px;
    padding: 0;
    
    
}
.modal-header img {
  position: relative;
  left: 25%;
    border: none;
}
.modal-body {
    margin: auto;
    margin-top: 50px;
    width: 70%;
    text-align: center;
}
.modal-body img{
    position: relative;
    left: 31%;
    padding-top: 50px;
    margin-bottom: -20px;
}
.input {
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    width: 70%;
    font-size: 16px;
}
.inputText {
    line-height: 20px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-size: 20px
}
.button {
    width: 70%;
    background: #89AAE6;
    color: #fff;
    border-radius: 20px;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 40px;
    font-family: 'Montserrat';
    font-size: 18px;
}
.modal-footer {
    font-family: 'Montserrat';
    font-size: 15px;
}

.header{
	width: 100%;
    height: 100%;
	text-align: center;
    padding-bottom: 40px;
    margin-top: 100px;
}
.header ul li{
	display: inline-block;
	border-right: 3px solid #FC1021;
}
.header #end {
	border-right: none;
}
.header ul li a{
	display: inline-block;
	padding: 0 30px 0 30px;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	/*background-color: #251e27;*/
}
/*hover effects*/
.header ul li a::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background-color: #FC1021;
	transition: width .4s;
}
.header ul li:hover a::after {
	width: 100%;
	transition: width .4s;
}

/*.header ul li a::before {
	content: '';
	width: 0px;
	height: 5px;
	background: #FE000A;
	position: absolute;
	top: 120%;
	left: 0;
	transition: .5s;
}
.header ul li:hover a::before {
	display: block;
	width: 50%;
	transform: translateX(70%);
}*/



.cover-logo {
	text-align: center;
	padding-top: 5%;
	color: black;
	vertical-align: middle;
	position: relative;

}

.form-control::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
}

.cover img {
	margin-top: -100px;
}

/*-------------Carousel-------------*/
.carousel-inner {
    height: 450px
}
.carousel-inner .carousel-item img{
    width: 100%;
    height: 100%;
}



/*--=========TEAM==========---*/
section {
	padding-top: 100px;
    padding-bottom: 50px;
    font-family: 'Montserrat' sans-serif;
    font-weight: 200;
    width: 100%;
}
#teamName {
    margin-top: -80px;
    margin-bottom: 60px;
}

#team .col-sm-2 {
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
    background: #FFFFFF;
    height: 250px;
    padding: 0;
    margin: 0 20px 0 70px;
}
#team .col-sm-2:hover{
    box-shadow: 0 18px 40px rgba(0,0,0,0.3);
     transform: translate(0px, -5px);
}
#team .col-sm-2 .user {
    border-radius: 100%;
    margin-top: -35px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.4);
    
}
#team h1 {
    margin-top: -50px;
    margin-bottom: 100px;
    font-family: 'Montserrat' sans-serif;
    font-weight: 300;
    font-size: 40px;
    text-transform: uppercase;
    
}
#team .col-sm-2 h4 {
    margin-top: 15px;
    font-size: 22px
}
#team .col-sm-2 p {
    font-size: 12px;
}
.socialmedia {
  position: absolute;
    top: 80%;
    left: 0;
    background-color: bisque;
    height: 35px;
    width: 100%;    
        
        
}
.socialmedia img {
    box-shadow: 0 2px 2px rgba(0,0,0,0.5);
    border-radius: 50%;
    margin: 0 5px 0 5px
}



#team {
	background-color: #F9EFED;
	background-size: cover;
	color: #524A49;
	text-align: center;
}
h4 {
    font-family: 'Montserrat' sans-serif;
    font-weight: 500;
    margin-top: 25px;
}
/*--------------//--------------*/

footer {
	background: #222;
	color: white;
	text-align: center;
	padding: 20px;
	font-family: Georgia, Times, serif;
}

footer a {
	color: hotpink;
}
.footer {
	transform: translateX(82%);
	list-style: none;
	display: flex;
	padding: 0;
	margin: 0;
}
.footer a {
	position: relative;
	width: 30px;
	height: 30px;
	display: block;
	text-align: center;
	margin: 0 10px;
	border-radius: 50%;
	padding: 6px;
	box-sizing: border-box;
	text-decoration: none;
	box-shadow: 0 10px 15px rgba(0,0,0,0.3);
	background: linear-gradient(0deg, #ddd, #fff);
	transition: .5s;
}
.footer a:hover{
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
.footer a .fa {
	width: 100%;
	height: 100%;
	display: block;
	/*background: linear-gradient(0deg, #fff, #ddd);*/
	border-radius: 50%;
	line-height: calc(30px - 12px);
	font-size: 16px;
	color: #262626;
	transition: .5s;
}

.footer li:nth-child(1) a:hover .fa {
	color: #3b5998;
}
.footer li:nth-child(2) a:hover .fa {
	color: #00b6f1;
}
.footer li:nth-child(3) a:hover .fa {
	color: #c32aa3;
}
.footer li:nth-child(4) a:hover .fa {
	color: #007bb6;
}
.footer li:nth-child(5) a:hover .fa {
	color: #c32aa3;
}

/* Media Queries */
@media only screen and (max-width: 568px) {
	.cover {
		background: white;
		margin: 0;
	}
	section {
		padding: 20px;
	}
	.Himg {
		content: url("https://image.ibb.co/cyL5EF/TMLogo_File_2_mini.png");
		margin-right: 50px;

	}
	.input-group {
		display: none;
	}
	.search-input {
		display: none;
	}
	.cover-text {
		
		padding: 0;
	}
	.cover-text p{
		display: none;
	}
}

